kube-prometheus-stack:
  alertmanager:
    config:
      route:
        group_by: ['namespace']
        group_wait: 30s
        group_interval: 5m
        repeat_interval: 12h
        receiver: 'null'
        routes:
        - receiver: "discord_webhook"
          matchers:
            - severity = "critical"
          continue: false
        - receiver: 'null'
      receivers:
      - name: "null"
      - name: "discord_webhook"
        webhook_configs:
          - url: "http://alertmanager-discord:9094"
    alertmanagerSpec:
      storage:
        volumeClaimTemplate:
          spec:
            storageClassName: rook-ceph-block
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 50Gi
  additionalPrometheusRulesMap:
    rule-name:
      groups:
        - name: AdditionalAlerts
          rules:
            - alert: ExcessiveWarnings
              expr: count(ALERTS{severity="warning",alertstate="firing"}) >= 5
              for: 1m
              labels:
                severity: critical
              annotations:
                summary: Excessive 'warning' alerts are firing in the cluster
                description: "{{ $value }} alerts with 'warning' severity are firing and could be a sign of catastrophic failure in the cluster"
  prometheusOperator:
    admissionWebhooks:
      certManager:
        enabled: true
  prometheus:
    prometheusSpec:
      ruleSelectorNilUsesHelmValues: false
      serviceMonitorSelectorNilUsesHelmValues: false
      podMonitorSelectorNilUsesHelmValues: false
      probeSelectorNilUsesHelmValues: false
      scrapeConfigSelectorNilUsesHelmValues: false
      storageSpec:
        volumeClaimTemplate:
          spec:
            storageClassName: rook-ceph-block
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 50Gi
  thanosRuler:  
    thanosRulerSpec:
      storage:
        volumeClaimTemplate:
          spec:
            storageClassName: rook-ceph-block
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 50Gi
  grafana:
    enabled: false # Grafana is instead deployed in its own namespace in the core-apps repo
discord:
  enabled: true
  secret:
    name: discord-webhook
    key: webhook
  username: "Alertmanager"
  verbose: true